.container{
    text-align: center;
}

body{
    background-color: rgb(56, 61, 79);
}

@media (min-width: 200px) and (max-width: 768px){
    h2{
        color: turquoise;
        font-family: 'Caveat', cursive;
        font-size: 1.5rem;
        position: absolute;
        top: 10rem;
    }

    h1{
        color: turquoise;
        font-size: 3rem;
        font-family: 'Lobster';
        margin-bottom: 7rem;
    }

    img{
        width: 15%;
    }
    
    .dice{
        display: inline;
    }
    
    .one{
        padding: 0.5rem;
        margin-right: 2rem;
    }
    
    .two{
        padding: 0.5rem;
        margin-left: 2rem;
    }
}

@media (min-width: 769px){
h2{
    color: turquoise;
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    position: absolute;
    top: 12rem;
}

h1{
    color: turquoise;
    font-size: 6rem;
    font-family: 'Lobster';
    margin-bottom: 10rem;
}

img{
    width: 15%;
}

.dice{
    display: inline;
}

.one{
    padding: 2rem;
    margin-right: 2rem;
}

.two{
    padding: 2rem;
    margin-left: 2rem;
}
}
