.container{
    text-align: center;
}

.function{
    text-align: center;
}

body{
    background-color: rgb(56, 61, 79);
}

.btn{
    transition: 0.4s;
    border-radius: 0.3rem;
    text-align: center;
    color: white;
    border-color: rgb(56, 61, 79);
    padding: 0.6rem;
}

.btn1{
    background-image: linear-gradient(to right, #39a8db 0%, #41f3ed 51%, rgb(56, 221, 215) 80%);
}

.btn:hover{
    background-position: right center;
}

.reload{
    margin-right: 7rem;
}

.reset{
    margin-left: 7rem;
}

@media (device-width: 320px and device-width: 640px){
h2{
    color: turquoise;
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
    position: absolute;
    top: 7rem;
}

h1{
    color: turquoise;
    font-family: 'Lobster';
    margin-bottom: 8rem;
}

img{
    width: 20%;
}
    
.dice{
    display: inline;
}
    
.one{
    padding: 0.5rem;
    margin-right: 2rem;
}
    
.two{
    padding: 0.5rem;
    margin-left: 2rem;
}

/*     .btn{
    transition: 0.4s;
    border-radius: 0.3rem;
    text-align: center;
    color: white;
    border-color: rgb(56, 61, 79);
    padding: 0.6rem;
}

.btn1{
    background-image: linear-gradient(to right, #39a8db 0%, #41f3ed 51%, rgb(56, 221, 215) 80%);
}

.btn:hover{
    background-position: right center;
}

.reload{
    margin-right: 7rem;
}

.reset{
    margin-left: 7rem;
} */
}

@media (min-device-width: 1200px and max-device-width: 1600px){
h2{
    color: turquoise;
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    position: absolute;
    top: 7rem;
}

h1{
    color: turquoise;
    font-size: 6rem;
    font-family: 'Lobster';
    margin-bottom: 7rem;
    margin-top: 0px;
}

img{
    width: 15%;
}

.dice{
    display: inline;
}

.one{
    padding: 2rem;
    margin-right: 2rem;
}

.two{
    padding: 2rem;
    margin-left: 2rem;
}
}


