.container{
    text-align: center;
}

body{
    background-color: rgb(56, 61, 79);
}



@media (max-width: 768px){
/*     .first{
        padding: 1rem auto 1rem auto;
    }
    
    .second{
        padding: 5rem auto 1rem auto;
    }*/
    
    .third{
        padding: 2rem auto 1rem auto;
    }
    
    .top{
        text-align: center;
    }
        
    h2{
        color: turquoise;
        font-family: 'Caveat', cursive;
        font-size: 1.5rem;
        position: absolute;
        top: 5rem;
    }
    
    h1{
        color: turquoise;
        font-size: 3rem;
        font-family: 'Lobster';
        margin-top: 2px;
    }
    
    img{
        padding-top: 5rem;
        width: 12%;
    }
        
    .dice{
        display: inline;
    }
        
    .one{
        margin-right: 4rem;
    }
        
    .two{
        margin-left: 4rem;
    }
    
    .btn{
        transition: 0.4s;
        border-radius: 0.3rem;
        text-align: center;
        color: white;
        border-color: rgb(56, 61, 79);
        padding: 0.6rem;
    }
    
    .btn1{
        background-image: linear-gradient(to right, #39a8db 0%, #41f3ed 51%, rgb(56, 221, 215) 80%);
    }
    
    .btn:hover{
        background-position: right center;
    }
    
    .reload{
        margin-right: 0.5rem;
        margin-top: 1rem;
    /*     display: block; */
    }
    
    .reset{
        margin-left: 0.5rem;
        margin-top: 1rem; 
    }

}

@media (min-width: 769px){
    .first{
    text-align: center;
    }
    
    .second{
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
    
    .third{
        padding-bottom: 4rem;
    }
    
    h2{
        color: turquoise;
        font-family: 'Caveat', cursive;
        font-size: 2rem;
        position: absolute;
        top: 10rem;
    }

    h1{
        color: turquoise;
        font-size: 5rem;
        font-family: 'Lobster';
        margin-bottom: 7rem;
    }

    img{
        width: 15%;
    }
    
    .dice{
        display: inline;
    }
    
    .one{
        padding: 0.5rem;
        margin-right: 4rem;
    }
    
    .two{
        padding: 0.5rem;
        margin-left: 4rem;
    }
    .btn{
    transition: 0.4s;
    border-radius: 0.3rem;
    text-align: center;
    color: white;
    border-color: rgb(56, 61, 79);
    padding: 0.6rem;
    }

    .btn1{
        background-image: linear-gradient(to right, #39a8db 0%, #41f3ed 51%, rgb(56, 221, 215) 80%);
    }
    
    .btn:hover{
        background-position: right center;
    }
    
    .reload{
        margin-right: 7rem;
        margin-top: 1rem;
        display: inline;
    }
    
    .reset{
        margin-left: 7rem;
        margin-top: 1rem;
        display: inline;
    }
}
