.container{
    text-align: center;
}

body{
    background-color: rgb(56, 61, 79);
}

h1{
    color: turquoise;
    font-size: 6rem;
    font-family: 'Lobster';
    margin-bottom: 3rem;
    padding-top: 4rem;
}

.dice{
    display: inline;
}

h2{
    color: turquoise;
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    /* position: absolute;
    top: 12rem; */
}

.btn{
    transition: 0.4s;
    border-radius: 0.3rem;
    text-align: center;
    color: white;
    border-color: rgb(56, 61, 79);
}

.btn1{
    background-image: linear-gradient(to right, #39a8db 0%, #41f3ed 51%, rgb(56, 221, 215) 80%);
}

.btn:hover{
    background-position: right center;
}

/* form {
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgb(56, 61, 79);
    border: 4px solid hsl(0, 100%, 51%);
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem; */

input{
    background-color: transparent;
    border-color: antiquewhite;
    border-radius: 3rem;
    border-style: solid;
    bottom: 0.4rem;
    text-align: center;
}

input, select, textarea{
    color: #d70101;
}

input[type=name]{
    margin: 1rem;
    padding: 0.7rem 1rem 0.7rem 1rem;
}

footer{
    text-align: center;
}
h3{
    color: turquoise;
    font-family: 'Caveat', cursive;
}

/* input[type=submit]{

}*/
